{% extends 'base.html' %}

{% load astrobin_apps_donations_tags %}


{% include 'image/detail/custom_ga.html' %}

{% block title %}{{image.title}} ({{image.user.userprofile}}){% endblock %}

{% block content %}
    {% include 'image/detail/wip_banner.html' %}
    {% include 'image/detail/menu/root.html' %}

    {% comment %} TODO: break down the rest of the page with includes {% endcomment %}

    <div class="row"> <!-- main row -->
        <div class="span8"> <!-- left pane -->
            {% include 'image/detail/iotd_banner.html' %}
            {% include 'image/detail/solve_status.html' %}
            {% include 'image/detail/image.html' %}
            {% include 'image/detail/image_title.html' %}
            {% include 'image/detail/image_card.html' %}
            {% include 'image/detail/image_description.html' %}
            {% include 'image/detail/comments.html' %}
        </div> <!-- /left pane -->

        <div class="span4"> <!-- right pane -->
            {% include 'image/detail/info.html' %}
            {% include 'image/detail/like.html' %}
            {% include 'image/detail/ad.html' %}
            {% include 'image/detail/revisions.html' %}
            {% include 'image/detail/skyplot.html' %}
            {% include 'image/detail/histogram.html' %}
            {% include 'image/detail/commercial.html' %}
        </div> <!-- /left pane -->
    </div> <!-- /main row-->
{% endblock %}

{% block modals %}
    {% include 'image/detail/modals/share.html' %}
    {% include 'image/detail/modals/upload_revision.html' %}
    {% include 'image/detail/modals/delete.html' %}
    {% include 'image/detail/modals/like_this.html' %}
    {% include 'image/detail/modals/bookmarked_this.html' %}
    {% include 'image/detail/modals/send_to_datapool.html' %}
    {% include 'image/detail/modals/send_to_sharedfolder.html' %}
    {% include 'image/detail/modals/cant_like.html' %}
    {% include 'image/detail/modals/flag_thumbnails.html' %}

    {% if ADS_ENABLED and not request.user|is_donor %}
        {% remove_ads_modal %}
    {% endif %}
{% endblock %}

{% block extra_js %}
    {% include 'image/detail/js.html' %}
{% endblock %}

