{% load astrobin_apps_images_tags %}
{% load common_tags %}
{% load compressed %}
{% load hitcount_tags %}
{% load i18n %}
{% load tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{% block title %}{{image.title}} ({{image.user}}) - {% trans "Full resolution" %} | AstroBin{% endblock %}</title>

        <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
        <meta name="author" content="Salvatore Iovene - http://iovene.com/" />
        <meta name="description" content="Community for astrophotographers" />
        <meta name="keywords" content="astrophotography, astronomy, telescopes" />
        <meta name="robots" content="index, follow, noarchive" />
        <meta name="googlebot" content="noarchive" />

        <!-- font -->
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'/>
        {% compressed_css 'screen' %}

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-844985-10']);
          _gaq.push(['_trackPageview']);
          {% if user.is_authenticated %}
          _gaq.push(['_setCustomVar', 1, 'User Type', 'Member']);
          _gaq.push(['_setCustomVar', 2, 'Username', '{{user.username}}']);
          {% else %}
          _gaq.push(['_setCustomVar', 1, 'User Type', 'Anonymous']);
          {% endif %}

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>

    <body class="full">
        <div class="navbar" id="top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{% url index %}">
                        <img src="{{STATIC_URL}}images/astrobin-logo-small.png" alt="AstroBin" />
                    </a>

                    <ul class="nav">
                        <li>
                            <div class="full-title">
                                <span class="title">{{image.title|escape|default:_("(no title)")}}</span>
                                <span class="subtitle">
                                    ({{image.uploaded}}
                                    {% url user_page image.user.username as the_url %}
                                    {% blocktrans with user=image.user.username %}by <a href="{{the_url}}">{{user}}</a>{% endblocktrans %})
                                </span>
                            </div>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {% trans "View" %}
                                <span class="caret"></span>
                            </a>
                            {% with request.GET.mod as mod %}
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{% get_image_url image revision_label %}{% if mod %}{% query_string "mod=mod" "" %}{% endif %}">
                                            {% blocktrans %}Technical card{% endblocktrans %}
                                        </a>
                                    </li>

                                    <li>
                                        {% if real %}
                                            <a href="{% get_image_url image revision_label 'full' %}{% if mod %}{% query_string "mod=mod" "real" %}{% endif %}">
                                                {% blocktrans %}Fit to window{% endblocktrans %}
                                            </a>
                                        {% else %}
                                                <a href="{% get_image_url image revision_label 'full' %}{% query_string "mod=mod,real=''" "" %}">
                                                {% blocktrans %}Full resolution{% endblocktrans %}
                                            </a>
                                        {% endif %}
                                    </li>
                                </ul>
                            {% endwith %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="full-size-image">
            {% astrobin_image image alias revision_label 'regular' %}
        </div>
        <script type="text/javascript" src="{{STATIC_URL}}common/js/jquery-1.8.3.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}astrobin_apps_images/js/astrobin_apps_images.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/astrobin.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                astrobin_common.init_ajax_csrf_token();
                {% get_hit_count_javascript for image %}

                {% if image.w > 0 %}
                if ($(window).width() * .95 > {{image.w}}) {
                    $('#full-size-image img').addClass('real');
                }
                {% endif %}
            });
        </script>
    </body>
</html>

