{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "AstroBin Raw Data Uploader" %}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% trans "AstroBin Raw Data Uploader" %}
            <small>
                {% trans "A desktop client" %}
                <span class="label label-warning">BETA!</span>
            </small>
        </h1>
    </div>

    <div class="row section">
        <div class="span12">
            <p>
                {% blocktrans %}The <strong>AstroBin Raw Data Uploader</strong>
                is a desktop program compatible with Windows XP, Windows 7, and
                reasonably recent Linux distributions.{% endblocktrans %}
            </p>
            <p>
                {% blocktrans %}It's a program that works in the background
                and quietly uploads your raw data files to AstroBin, finding
                them in the root directory that you can specify in the
                settings.{% endblocktrans %}
            </p>
            <p>
                {% blocktrans %}With <strong>AstroBin Raw Data Uploader</strong>
                you don't need to upload your raw data files manually, so you
                can just install it, set it up, and then forget about it! You
                will just know that your data is being safely backed up on
                <strong>AstroBin Raw Data</strong>.{% endblocktrans %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <div class="well" style="text-align: center">
                <img src="{{STATIC_URL}}rawdata/images/windows-logo.png" alt="Windows"/>
                <div>
                    {% trans "Download for:" %}
                    <a class="btn btn-primary"
                       onClick="trackOutboundLink(
                           this,
                           'Outbound Links',
                           'Raw Data Uploader, Windows');
                           return false;"
                       href="http://cdn.astrobin.com/uploader/AstroBinUploader-1.1.msi">
                        Windows
                        <i class="icon-download"></i>
                    </a>
                </div>
                <div>&nbsp;</div>
            </div>
        </div>
        <div class="span4">
            <div class="well" style="text-align: center">
                <img src="{{STATIC_URL}}rawdata/images/linux-logo.png" alt="Linux"/>
                <div>
                    {% trans "Download for" %} <strong>Ubuntu Linux:</strong>
                    <span class="label label-warning">{% trans "Coming soon" %}
                    </span>
                </div>
                <div>
                    {% trans "Download for" %} <strong>other Linux:</strong>
                    <span class="label label-warning">{% trans "Coming soon" %}
                    </span>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="well" style="text-align: center">
                <img src="{{STATIC_URL}}rawdata/images/osx-logo.png" alt="OS X"/>
                <div>
                    {% trans "Download for" %} <strong>OS X</strong>
                    <span class="label label-warning">{% trans "Coming soon" %}
                    </span>
                </div>
                <div>&nbsp;</div>
            </div>
        </div>

    </div>
{% endblock %}
