{% load astrobin_apps_images_tags %}
{% load i18n %}

<div class="modal hide fade" id="share-modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>{% trans "Share" %}</h3>
    </div>
    <div class="modal-body">
        <div class="well">
            <form class="copy">
                <table class="table">
                    <tr>
                        <td>
                            <label for="sharing_mode">{% trans "Sharing mode" %}:</label>
                            <select id="sharing_mode" name="sharing_mode">
                                <option selected="selected" value="0">{% trans "Simple link" %}</option>
                                <option value="1">{% trans "Forums" %}</option>
                                <option value="2">HTML</option>
                            </select>
                        </td>
                        <td>
                            <label for="sharing_thumbnail">{% trans "Thumbnail" %}:</label>
                            <select id="sharing_thumbnail" name="sharing_thumbnail" disabled="disabled">
                                <option selected="selected" value="0">{% trans "Yes" %}</option>
                                <option value="1">{% trans "No" %}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="sharing_image_size">{% trans "Image size" %}:</label>
                            <select id="sharing_image_size" name="sharing_image_size">
                                <option selected="selected" value="0">{% trans "Regular" %}</option>
                                <option value="1">{% trans "Full" %}</option>
                            </select>
                        </td>
                        <td rowspan=2>
                            <label for="sharing_code">{% trans "Copy this" %}</label>
                            <textarea id="sharing_code" name="sharing_code" rows=6>{{SHARE_PATH}}{% get_image_url image revision_label %}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="sharing_image_mode">{% trans "Image mode" %}:</label>
                            <select id="sharing_image_mode" name="sharing_image_mode">
                                <option selected="selected" value="0">{% trans "Normal" %}</option>
                                <option value="1">{% trans "Inverted monochrome" %}</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

